<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995866417662-8f7gj7cs1f11m9cdjv16s43srq6m4icp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995866417662-8f7gj7cs1f11m9cdjv16s43srq6m4icp</string>
	<key>API_KEY</key>
	<string>AIzaSyBtDAq06FpCSP4ku4BnG0SUwOYg2kbj6Do</string>
	<key>GCM_SENDER_ID</key>
	<string>995866417662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solway.invetory</string>
	<key>PROJECT_ID</key>
	<string>solway-inventory</string>
	<key>STORAGE_BUCKET</key>
	<string>solway-inventory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995866417662:ios:e2472e9e589e7f3f8148af</string>
</dict>
</plist>